/**
This is a CSS multiline comment.
**/

body {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  background: hsl(333, 61%, 24%);
  color: hsl(57, 100%, 93%);
  font-family: monospace;
  text-align: center;
}

#container div {
  min-height: 80px;
  padding: 10px 20px;
}

#container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.header {
  margin: -20px 0px;
  background: hsl(192, 100%, 17%);
  height: 120px;
  min-height: fit-content;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

button {
  font-family: monospace;
  border: 0.4rem solid darkgray;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  transition: all 0.1s ease;
  text-align: center;
  color: hsl(179, 100%, 92%);
  background: hsla(238, 100%, 88%, 0.2);
  width: 15vw;
  min-width: max-content;
}

.think {
  color: hsl(29, 100%, 67%);
}

button:hover {
  transform: scale(1.05);
  border: 0.5rem solid hsl(45, 100%, 64%);
  background: hsla(71, 100%, 33%, 0.67);
}

button:active {
  transform: scale(0.95);
  border: 0.3rem solid hsl(11, 100%, 64%);
  background: hsla(71, 100%, 33%, 0.5);
}

h1 {
  margin-bottom: -12px;
}

.instruct {
  background: hsl(63, 37%, 35%);
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.buttonsWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.score {
  background: hsl(30, 100%, 27%);
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.comp {
  background: hsl(176, 43%, 25%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
