/**
This is a CSS multiline comment.
**/

body {
  margin: 0px;
  display: flex;
  background: hsl(360, 100%, 11%);
  color: hsl(57, 100%, 88%);
}

#container {
  background: hsl(247, 81%, 18%);
}

.header {
  background: hsl(192, 100%, 17%);
}

.buttonsWrap {
  background: hsl(30, 100%, 27%);
}

.score {
  background: hsl(114, 48%, 17%);
}
